ToolTip {
    border-radius: 4px;
}

ToolTip > #container {
    background-color: #18191a;
    border: 1px solid rgb(28, 28, 28);
    border-radius: 4px;
}

QLabel {
    background-color: transparent;
    font: 12px 'Segoe UI', 'Microsoft YaHei';
    color: white;
    border: none;
}
